@import "tailwindcss";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #03045E;
  background-color: #CAF0F8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #CAF0F8;
  --foreground: #03045E;
  --card: #ADE8F4;
  --card-foreground: #03045E;
  --popover: #CAF0F8;
  --popover-foreground: #03045E;
  --primary: #0077B6;
  --primary-foreground: #CAF0F8;
  --secondary: #90E0EF;
  --secondary-foreground: #023E8A;
  --muted: #ADE8F4;
  --muted-foreground: #023E8A;
  --accent: #48CAE4;
  --accent-foreground: #03045E;
  --destructive: #023E8A;
  --border: #90E0EF;
  --input: #90E0EF;
  --ring: #0096C7;
  --chart-1: #03045E;
  --chart-2: #023E8A;
  --chart-3: #0077B6;
  --chart-4: #00B4D8;
  --chart-5: #48CAE4;
  --sidebar: #ADE8F4;
  --sidebar-foreground: #03045E;
  --sidebar-primary: #0077B6;
  --sidebar-primary-foreground: #CAF0F8;
  --sidebar-accent: #48CAE4;
  --sidebar-accent-foreground: #03045E;
  --sidebar-border: #90E0EF;
  --sidebar-ring: #0096C7;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-blue-50: #CAF0F8;
  --color-blue-100: #ADE8F4;
  --color-blue-200: #90E0EF;
  --color-blue-300: #48CAE4;
  --color-blue-400: #00B4D8;
  --color-blue-500: #0096C7;
  --color-blue-600: #0077B6;
  --color-blue-700: #023E8A;
  --color-blue-800: #03045E;
  --color-blue-900: #03045E;
  --color-blue-950: #03045E;

  --color-cyan-50: #CAF0F8;
  --color-cyan-100: #ADE8F4;
  --color-cyan-200: #90E0EF;
  --color-cyan-300: #48CAE4;
  --color-cyan-400: #00B4D8;
  --color-cyan-500: #0096C7;
  --color-cyan-600: #0077B6;
  --color-cyan-700: #023E8A;
  --color-cyan-800: #03045E;
  --color-cyan-900: #03045E;
  --color-cyan-950: #03045E;

  --color-sky-50: #CAF0F8;
  --color-sky-100: #ADE8F4;
  --color-sky-200: #90E0EF;
  --color-sky-300: #48CAE4;
  --color-sky-400: #00B4D8;
  --color-sky-500: #0096C7;
  --color-sky-600: #0077B6;
  --color-sky-700: #023E8A;
  --color-sky-800: #03045E;
  --color-sky-900: #03045E;
  --color-sky-950: #03045E;

  --color-indigo-50: #CAF0F8;
  --color-indigo-100: #ADE8F4;
  --color-indigo-200: #90E0EF;
  --color-indigo-300: #48CAE4;
  --color-indigo-400: #00B4D8;
  --color-indigo-500: #0096C7;
  --color-indigo-600: #0077B6;
  --color-indigo-700: #023E8A;
  --color-indigo-800: #03045E;
  --color-indigo-900: #03045E;
  --color-indigo-950: #03045E;

  --color-gray-50: #CAF0F8;
  --color-gray-100: #ADE8F4;
  --color-gray-200: #90E0EF;
  --color-gray-300: #48CAE4;
  --color-gray-400: #00B4D8;
  --color-gray-500: #0096C7;
  --color-gray-600: #0077B6;
  --color-gray-700: #023E8A;
  --color-gray-800: #03045E;
  --color-gray-900: #03045E;
  --color-gray-950: #03045E;

  --color-slate-50: #CAF0F8;
  --color-slate-100: #ADE8F4;
  --color-slate-200: #90E0EF;
  --color-slate-300: #48CAE4;
  --color-slate-400: #00B4D8;
  --color-slate-500: #0096C7;
  --color-slate-600: #0077B6;
  --color-slate-700: #023E8A;
  --color-slate-800: #03045E;
  --color-slate-900: #03045E;
  --color-slate-950: #03045E;

  --color-zinc-50: #CAF0F8;
  --color-zinc-100: #ADE8F4;
  --color-zinc-200: #90E0EF;
  --color-zinc-300: #48CAE4;
  --color-zinc-400: #00B4D8;
  --color-zinc-500: #0096C7;
  --color-zinc-600: #0077B6;
  --color-zinc-700: #023E8A;
  --color-zinc-800: #03045E;
  --color-zinc-900: #03045E;
  --color-zinc-950: #03045E;

  --color-neutral-50: #CAF0F8;
  --color-neutral-100: #ADE8F4;
  --color-neutral-200: #90E0EF;
  --color-neutral-300: #48CAE4;
  --color-neutral-400: #00B4D8;
  --color-neutral-500: #0096C7;
  --color-neutral-600: #0077B6;
  --color-neutral-700: #023E8A;
  --color-neutral-800: #03045E;
  --color-neutral-900: #03045E;
  --color-neutral-950: #03045E;

  --color-stone-50: #CAF0F8;
  --color-stone-100: #ADE8F4;
  --color-stone-200: #90E0EF;
  --color-stone-300: #48CAE4;
  --color-stone-400: #00B4D8;
  --color-stone-500: #0096C7;
  --color-stone-600: #0077B6;
  --color-stone-700: #023E8A;
  --color-stone-800: #03045E;
  --color-stone-900: #03045E;
  --color-stone-950: #03045E;

  --color-green-50: #CAF0F8;
  --color-green-100: #ADE8F4;
  --color-green-200: #90E0EF;
  --color-green-300: #48CAE4;
  --color-green-400: #00B4D8;
  --color-green-500: #0096C7;
  --color-green-600: #0077B6;
  --color-green-700: #023E8A;
  --color-green-800: #03045E;
  --color-green-900: #03045E;
  --color-green-950: #03045E;

  --color-yellow-50: #CAF0F8;
  --color-yellow-100: #ADE8F4;
  --color-yellow-200: #90E0EF;
  --color-yellow-300: #48CAE4;
  --color-yellow-400: #00B4D8;
  --color-yellow-500: #0096C7;
  --color-yellow-600: #0077B6;
  --color-yellow-700: #023E8A;
  --color-yellow-800: #03045E;
  --color-yellow-900: #03045E;
  --color-yellow-950: #03045E;

  --color-orange-50: #CAF0F8;
  --color-orange-100: #ADE8F4;
  --color-orange-200: #90E0EF;
  --color-orange-300: #48CAE4;
  --color-orange-400: #00B4D8;
  --color-orange-500: #0096C7;
  --color-orange-600: #0077B6;
  --color-orange-700: #023E8A;
  --color-orange-800: #03045E;
  --color-orange-900: #03045E;
  --color-orange-950: #03045E;

  --color-purple-50: #CAF0F8;
  --color-purple-100: #ADE8F4;
  --color-purple-200: #90E0EF;
  --color-purple-300: #48CAE4;
  --color-purple-400: #00B4D8;
  --color-purple-500: #0096C7;
  --color-purple-600: #0077B6;
  --color-purple-700: #023E8A;
  --color-purple-800: #03045E;
  --color-purple-900: #03045E;
  --color-purple-950: #03045E;

  --color-red-50: #CAF0F8;
  --color-red-100: #ADE8F4;
  --color-red-200: #90E0EF;
  --color-red-300: #48CAE4;
  --color-red-400: #00B4D8;
  --color-red-500: #0096C7;
  --color-red-600: #0077B6;
  --color-red-700: #023E8A;
  --color-red-800: #03045E;
  --color-red-900: #03045E;
  --color-red-950: #03045E;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
